body {
  background-color: black;
  justify-content: center;
}
.container {
  display: block;
  width: 500px;
  margin-top: 120px;
}
.title {
  text-align: center;
  color: #a90c0c;
}
.new-task {
  display: block;
  width: 100%;
  background-color: azure;
  border-radius: 10px;
  height: 40px;
  border-color: yellow;
  border-width: 4px;
  text-align: center;
  font-size: 24px;
}

.test-label {
  text-align: center;
  color: white;
}

.task-container {
  width: 100%;
  background-color: azure;
  margin-bottom: 8px;
  font-size: 16px;
  border-left: 8px solid aqua !important;
}
.task {
  margin: 0;
  padding: 10px 0px 10px 10px;
}

.logo {
  margin-right: 32px;
  height: 42px;
  width: 100px;
}

.sliderContent {
  background-color: azure;
  padding: 64px 0px 48px;
}
.sliderButtons {
  margin-top: 32px;
}

.footer {
  background-color: azure;
  padding: 48px;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cardMedia {
  width: 100%;
  height: 100%;
}

.cardContent {
  flex-grow: 1;
}

.cardGrid {
  padding-top: 64px;
  padding-bottom: 64px;
}